@model ItadakimasuWeb.Models.Select.ISelectItem

<div class="col-auto">
    <p class="p-1">@Model.Title:</p>
</div>
<div class="col-auto">
    <select id="@Model.Id" class="form-control form-control-sm" onchange="reloadSelect('@(Model.Id)')">
        @{
            foreach (var item in Model.Items)
            {
                <option value=@(item.Key) selected="@(Model.CurrentKey == item.Key)">@item.Value</option>
            }
        }
    </select>
</div>
