@model Itadakimasu.Models.ViewFoodViewer

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2">
        <ul class="list-group">
            @foreach (var item in Model.Foods)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <a href="@item.Name">@(item.Name)</a><span class="badge bg-light text-dark rounded-pill">@item.FoodImageCount</span>
                </li>
            }
        </ul>
    </div>
    <div class="col-10">
        <div class="d-flex flex-row">
            @await Html.PartialAsync("_Select", ViewData["SelectViewerCount"])
            @await Html.PartialAsync("_Select", ViewData["SelectViewerSize"])
        </div>
        <div class="d-flex flex-row">
            <div class="col-auto px-2 py-1">
              <input class="form-check-input" type="checkbox" id="check-all" onclick="allChecked()">
              <label class="form-check-label" for="check-all">全チェック</label>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-primary btn-sm">1</button>
                <button type="button" class="btn btn-outline-primary btn-sm">2</button>
                <button type="button" class="btn btn-outline-primary btn-sm">3</button>
            </div>
        </div>
        <div>
            <ul class="d-flex flex-wrap">
                @for (var i = 0; i < Model.FoodImages.Count; i++)
                {
                    var item = Model.FoodImages[i];
                    <li class="list-group-item">
                        <input class="form-check-input" name="checkbox" type="checkbox" onclick="DisChecked()" />
                        <div>
                            <label for="check_@(item.Name)">
                                <img class="img-thumbnail @(ViewData["CurrentViewerSize"])" src="@item.BlobSUrl" alt='@(item.Name)の画像' title="@(item.Name)">
                            </label>
                        </div>
                        <div>
                            <span>@(item.Name)</span>
                        </div>
                         <div class="popup_wrap">
                             <div id="foodImageId" data-value="@(item.Name)"></div>
                             <input id="check_@(item.Name)" type="checkbox">
                            <div class="popup_overlay">
                                <label for="check_@(item.Name)" class="popup_trigger"></label>
                                <div class="popup_content">
                                    <div class="d-flex flex-row justify-content-between">
                                        <div>@item.Name</div>
                                        <div></div>
                                        <label for="check_@(item.Name)" class="close_btn"><i class="far fa-times-circle"></i></label>
                                    </div>
                                    <a class="btn btn-link" onclick="changeImage('check_@(item.Name)', 'check_@(item.NextName)')">
                                        <img class="popup_content_img" src="@item.BlobUrl">
                                    </a>
                                    <div class="d-flex flex-row">
                                        <div></div>
                                        <button type="button" class="btn btn-outline-dark btn-sm foodImage-state" data-value="1">1</button>
                                        <button type="button" class="btn btn-outline-dark btn-sm foodImage-state" data-value="2">2</button>
                                        <button type="button" class="btn btn-outline-dark btn-sm foodImage-state" data-value="3">3</button>
                                        <button type="button" class="btn btn-outline-dark btn-sm foodImage-state" data-value="-1">-1</button>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between">
                                        <button type="button" class="btn btn-link" onclick="changeImage('check_@(item.Name)', 'check_@(item.PrevName)')">&laquo;&laquo;前へ</button>
                                        <a>@(i + 1)/@(Model.FoodImages.Count)</a>
                                        <button type="button" class="btn btn-link" onclick="changeImage('check_@(item.Name)', 'check_@(item.NextName)')">次へ&raquo;&raquo;</button>
                                    </div>
                                </div>
                            </div>
                         </div>
                     </li>
                }
            </ul>
            <div class="clearfix" />
        </div>
        @await Html.PartialAsync("_Pagination", Model.FoodImages.Parameter)
    </div>
</div>

<script type="text/javascript">
    window.onload = function async() {
        document.querySelectorAll('.foodImage-state').forEach(s => s.addEventListener('click', async (event) => {
            //event.preventDefault();
            const value = event.target.dataset.value;
            const id = document.getElementById('foodImageId').dataset.value;
            const response = await fetch('/api/FoodImages/food-image-state', {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ blobName: id, stateNumber: value })
            });
            if (!response.ok) return;
        }));
    }
</script>

