@model Itadakimasu.Models.ViewFoodViewer

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2">
        @foreach (var food in Model.Foods)
        {
            <a href="@food.Name">
                <span>@food.Name</span>
            </a>
        }
    </div>
    <div class="col-8">
        <div class="actressList">
            <ul class="p-1">
                @foreach (var item in Model.FoodImages)
                {
                    <li class="BustupM border">
                        <div>
                            <img src="@item.BlobUrl" alt='@(item.Name)のバストアップ画像' title="@(item.Name)">
                        </div>
                        <div>
                            <span>@(item.Name)(@(item.X)X@(item.Y):@(item.Size))</span>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix" />
    </div>
    <div class="col-2">
    </div>
</div>

