@model Itadakimasu.Models.ViewFoodViewer

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2">
        <ul class="p-1">
            @foreach (var item in Model.Foods)
            {
                <li class="border">
                    <a href="@item.Name">@item.Name</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-8">
        <div class="form-inline d-flex">
            @await Html.PartialAsync("_Select", ViewData["ViewerSize"])
        </div>

        <div class="actressList">
            <ul class="p-1">
                @foreach (var item in Model.FoodImages)
                {
                    <li class="FoodImage border">
                        <div>
                            @{ var select = ViewData["ViewerSize"] as Itadakimasu.Models.Select.ISelectItem; }
                            <img class="Image@(select.CurrentKey)" src="@item.BlobUrl" alt='@(item.Name)のバストアップ画像' title="@(item.Name)">
                        </div>
                        <div>
                            <span>@(item.Name)</span>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix" />
    </div>
    <div class="col-2">
    </div>
</div>

