@model Itadakimasu.Models.ViewFoodViewer

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2">
        <ul class="p-1">
            @foreach (var item in Model.Foods)
            {
                <li class="border">
@*                    <img width="24" height="24" src="@item.BlobUrl" alt='@(item.Name)の画像' title="@(item.Name)">
*@                    <a href="@item.Name">@(item.Name)(@item.FoodImageCount)</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-10">
        <div class="align-items-center">
            @await Html.PartialAsync("_Select", ViewData["SelectViewerCount"])
            @await Html.PartialAsync("_Select", ViewData["SelectViewerSize"])
            <input type="checkbox" id="CheckAll" /><a>全チェック</a>
            <button type="button" class="btn" data-bs-toggle="button">
            </button>
        </div>
        <div class="actressList">
            <ul class="p-1">
                @foreach (var item in Model.FoodImages)
                {
                    <li class="FoodImage border">
                        <div>
                            @{ var select = ViewData["SelectViewerSize"] as Itadakimasu.Models.Select.ISelectItem; }
                            <img class="Image@(select.CurrentKey)" src="@item.BlobUrl" alt='@(item.Name)の画像' title="@(item.Name)">
                            <div class="FoodImageCheck">
                                <input type="checkbox" id="CheckSingle" />
                            </div>
                        </div>
                        <div>
                            <span>@(item.Name)</span>
                        </div>
                    </li>
                }
            </ul>
            <div class="clearfix" />
        </div>
        @await Html.PartialAsync("_Pagination", Model.FoodImages.Parameter)
    </div>
</div>

