@model Itadakimasu.Models.ViewFoodViewer

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2">
        <ul class="list-group">
            @foreach (var item in Model.Foods)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <a href="@item.Name">@(item.Name)</a><span class="badge bg-light text-dark rounded-pill">@item.FoodImageCount</span>
                </li>
            }
        </ul>
    </div>
    <div class="col-10">
        <div class="d-flex flex-row">
            @await Html.PartialAsync("_Select", ViewData["SelectViewerCount"])
            @await Html.PartialAsync("_Select", ViewData["SelectViewerSize"])
        </div>
        <div class="d-flex flex-row">
            <div class="col-auto px-2 py-1">
              <input class="form-check-input" type="checkbox" id="check-all" onclick="allChecked()">
              <label class="form-check-label" for="check-all">全チェック</label>
            </div>
            <div class="col-auto">
                <button type="button" class="btn" data-bs-toggle="button">1</button>
                <button type="button" class="btn" data-bs-toggle="button">2</button>
                <button type="button" class="btn" data-bs-toggle="button">3</button>
            </div>
        </div>
        <div>
            <ul class="d-flex flex-wrap">
                @foreach (var item in Model.FoodImages)
                {
                    <li class="list-group-item">
                        <input class="form-check-input" name="checkbox" type="checkbox" onclick="DisChecked()" />
                        <div>
                            @{ var select = ViewData["SelectViewerSize"] as Itadakimasu.Models.Select.ISelectItem; }
                            <img class="Image@(select.CurrentKey)" src="@item.BlobUrl" alt='@(item.Name)の画像' title="@(item.Name)">
                        </div>
                        <div>
                            <span>@(item.Name)</span>
                        </div>
                    </li>
                }
            </ul>
            <div class="clearfix" />
        </div>
        @await Html.PartialAsync("_Pagination", Model.FoodImages.Parameter)
    </div>
</div>

